/*-- scss:defaults --*/
// Base document colors
$body-bg: #20242b;
$body-color: #c0c2c4;
$link-color: #CC4C4C;

// Code blocks
$code-block-bg-alpha: -.8;

nav:after{
  display: block;
  content: ' ';
  background-image: url('logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 100px;
}

